{% extends 'adminside/header.html' %}

{% load static %}
{% block content %}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-3">
                <h4 class="page-title">Users</h4>
            </div>
            <div class="col-sm-8 col-9 text-right m-b-20">
                <a href="add-patient.html" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add User</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-border table-striped custom-table datatable mb-0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <a href="{% url 'adminside:user_block' user.id %}?csrfmiddlewaretoken={{ csrf_token }}" class="btn btn-{% if user.is_blocked %}success{% else %}warning{% endif %}">
                                        {% if user.is_blocked %}Unblock{% else %}Block{% endif %}
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% comment %} 
<div class="sidebar-overlay" data-reff=""></div>
<script src="{% static 'adminside/assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'adminside/assets/js/popper.min.js' %}"></script>
<script src="{% static 'adminside/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'adminside/assets/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'adminside/assets/js/select2.min.js' %}"></script>
<script src="{% static 'adminside/assets/js/jquery.dataTables.min.js' %}"></script>              
<script src="{% static 'adminside/assets/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'adminside/assets/js/moment.min.js' %}"></script>
<script src="{% static 'adminside/assets/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'adminside/assets/js/app.js' %}"></script> {% endcomment %}
</body>


<!-- patients23:19-->
</html>

      


{% endblock content %}
