asgiref==3.7.2
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
cryptography==42.0.5
defusedxml==0.7.1
distlib==0.3.8
Django==5.0.2
django-allauth==0.61.1
filelock==3.13.1
geographiclib==2.0
geopy==2.4.1
idna==3.6
oauthlib==3.2.2
pillow==10.3.0
platformdirs==4.1.0
psycopg2==2.9.9
pycparser==2.22
PyJWT==2.8.0
python3-openid==3.2.0
razorpay==1.4.2
reportlab==4.2.0
requests==2.31.0
requests-oauthlib==2.0.0
sqlparse==0.4.4
tzdata==2024.1
urllib3==2.2.1
virtualenv==20.25.0
virtualenvwrapper-win==1.2.7
