{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="{% url 'core:home' %}"> Home</a></li>
                <li class="active">Profile</li>
            </ul>
        </div>
    </div>
</div>
<div class="container emp-profile">
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img" style="margin: 30px;">
                    <img src="{% static 'user\images\a-user.png' %}" alt="Li's Product Image" style="width: 150px;">
                </div>
                <br>
                <br>
                <a href="{% url 'core:customer_order' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Orders</a>
                &nbsp;
                &nbsp;
                &nbsp;
                <a href="{% url 'core:cart' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Cart</a>
            </div>
            <br>
            <br>
            <div class="col-md-8">
                <div class="profile-head">
                    <br>
                    <h5>{{ user.username }}</h5>
                    <p class="proile-rating">{{ user.email }}</p>
                    <br>
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                            </ul>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>User Id</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ user.id }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>User Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ user.username }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ user.email }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ user.ph_no }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Wallet</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{ wallet_balance }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'core:manage_profile' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Manage Profile</a>
                    <a href="{% url 'core:address' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Manage Address</a>
                    <a href="{% url 'core:wallet' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"> Add Wallet</a>

                    {% comment %} <a href="{% url 'core:change_password' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Cart</a> {% endcomment %}

                </div>
            </div>
        </div>
    </form>
      <div class="form-group">                           
                                <button style="text-decoration: underline;" type="button" class="btn bg-white" data-toggle="modal" data-target="#exampleModalLongs">
                                    Change Password
                                </button>
                            </div> 
                        </div>
                        
                       
                    </div>
                    {% comment %} <a href="{% url 'core:manage_profile' %}" class="btn btn-secondary btn active" role="button" aria-pressed="true">Edit profile</a> {% endcomment %}
                    {% for message in messages %}
                    <div id="success-message" class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                
                <script>
                $(document).ready(function() {
                    // Set a timeout to fade out the success message after 3000 milliseconds (3 seconds)
                    setTimeout(function() {
                        $("#success-message").fadeOut("slow");
                    }, 3000);
                });
                </script>
                   </div>
                
            </div>
        </div>
        
    </form>

    <div class="modal fade" id="exampleModalLongs" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Change Password</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             
                <form method="POST" action="{% url 'core:change_password' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <label>Old Password</label>
                        <input name="old" type="password" class="form-control" required>
                
                        <label>New Password</label>
                        <input name="new_password1" type="password" class="form-control" required>
                
                        <label>Confirm Password</label>
                        <input name="new_password2" type="password" class="form-control" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
          
          </div>
        </div>
      </div>
    

</div>

{% endblock content %}
