{% extends 'core/base.html' %}

{% block content %}
<style>
    .login-box {
        width: 300px; /* Adjust the width of the box */
        margin: auto;
        margin-top: 100px; /* Adjust the margin-top to center vertically */
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        font-weight: bold;
    }

    .form-group input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .account-btn {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        border: none;
    }

    .account-btn:hover {
        background-color: #0056b3;
    }

    .login-link {
        margin-top: 10px;
    }
</style>

<div class="login-box">
    <form action="" method="post" class="form-signin">
        {% csrf_token %}  <div class="account-logo text-center mb-4">
            </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" required>
          </div>
          <div class="form-group text-center">
            <button class="btn btn-primary account-btn" type="submit">Login</button>
          </div>
          <div class="text-center login-link">
            <p><a href="{% url 'core:forgot_password' %}">Forgot Password?</a></p> 
            <a href="{% url 'core:signupPage' %}">Don't have an account?</a>
          </div>
        </form>
        
</div>
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock content %}