{% extends 'core/base.html' %}
{% load static %}
{% block extra_css %}
<style>
    /* Custom CSS for user categories page */
    .breadcrumb-area {
        margin-bottom: 30px;
    }

    .category-container {
        padding-top: 30px;
    }

    .category-card {
        border: 1px solid #dee2e6;
        border-radius: 8px;
        overflow: hidden;
        height: auto; /* Remove fixed height for category cards */
    }

    .category-card img {
        width: 100%; /* Ensure images fill the container */
        max-height: 200px; /* Set maximum height for images */
        object-fit: cover; /* Maintain aspect ratio and cover container */
    }

    .category-card .card-body {
        padding: 20px;
        height: 100%; /* Ensure card body fills the category card */
        display: flex; /* Use flexbox to align content vertically */
        flex-direction: column; /* Align content vertically */
    }

    .category-card .card-title {
        font-size: 1.25rem;
        margin-bottom: 10px;
    }

    .category-card .card-text {
        color: #6c757d;
    }

    .view-products-btn {
        background-color: #007bff;
        color: #fff;
        border: none;
        margin-top: auto; /* Push button to the bottom */
    }

    .view-products-btn:hover {
        background-color: #0056b3;
    }
</style>
{% endblock extra_css %}

{% block content %}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'core:home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Category List</li>
        </ol>
    </nav>
</div>

<div class="container category-container">
    <h1 class="text-center mb-4">Categories</h1>
    <div class="row">
        {% for category in categories %}
        <div class="col-md-4 mb-4">
            <div class="card category-card">
                <img src="{% if category.img %}{{ category.img.url }}{% else %}{% static 'images/default_image.jpg' %}{% endif %}" class="card-img-top" alt="{{ category.name }}">
                <div class="card-body">
                    <h2 class="card-title">{{ category.name }}</h2>
                    <p class="card-text">{{ category.descriptions }}</p>
                    <a href="{% url 'core:category_products' category.id %}" class="btn btn-primary view-products-btn">View Products</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
